/* Global Properties */
/* html {
  scroll-behavior: smooth;
} */

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
header .nav_bar ul li a:hover {
  color: #f5ba09;
  text-decoration: none;
  border-bottom: solid 1px #f5ba09;
}

.header-bottom img {
  text-decoration: none;
  width: auto;
  height: 100vh;
}

.about {
  background: #313552;
  border-radius: 0.5rem;
}
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}
#social-media {
  background: #313552;
}